$--common-color-grey: #e6e6e6;
$--common-color-blue: #409eff;
$--common-color-success: #67c23a;
$--common-color-danger: #f56c6c;
$--common-color-info: #909399;
$--common-color-warn: #e6a23c;
$--common-color-black: #000000;
$--common-color-white: #ffffff;

// bg
$--common-bgcolor-black: #313030;
$--common-bgcolor-grey: #c8c8c8;
