$--common-color-grey: #e6e6e6;
$--common-color-blue: #2d7afd;
$--common-color-success: #67c23a;
$--common-color-danger: #f56c6c;
$--common-color-info: #909399;
$--common-color-warn: #e6a23c;
$--common-color-black: #000000;
$--common-color-white: #ffffff;

// bg
$--common-bgcolor-black: #313030;

$--common-bgcolor-white: #ffffff;
// bg blue
$--common-bgcolor-blue: #2d7afd;
$--common-bgcolor-blue-light-1: #79bbff;
$--common-bgcolor-blue-light-2: #a0cfff;
$--common-bgcolor-blue-light-3: #c6e2ff;
$--common-bgcolor-blue-light-4: #d9ecff;
$--common-bgcolor-blue-light-5: #ecf5ff;
// bg grey
$--common-bgcolor-grey: #909399;
$--common-bgcolor-grey-dark-1: #73767a;
$--common-bgcolor-grey-dark-2: #b1b3b8;
$--common-bgcolor-grey-dark-3: #c8c9cc;
$--common-bgcolor-grey-dark-4: #dedfe0;
$--common-bgcolor-grey-dark-5: #e9e9eb;
$--common-bgcolor-grey-dark-6: #f4f4f5;
