.border-bm {
  border-bottom: 1px solid $--common-color-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.text-align {
  text-align: center;
}

.magin-center {
  margin: 0 auto;
}

.m {
  margin: 8px 0;
}

.mb8 {
  margin-bottom: 8px;
}
.mt8 {
  margin-top: 8px;
}

.text-right {
  text-align: right;
}

.table-container {
  background-color: $--common-bgcolor-white;
  padding: 12px;
}

.omitClass {
  letter-spacing: 0;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
