@import './color.scss';
@import './layout.scss';
@import './position.scss';
@import './radius.scss';
@import './scroll.scss';
@import './common.scss';
@import './element.scss';

* {
  font-family: 'PF';
}

// marign
@mixin margin($left: 8, $right: 8, $bottom: 8, $top: 8) {
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-top: $top;
}

// 标准为 8 的倍数
@mixin margin-size-lr($size) {
  margin: 0 $size * 8px;
}

@mixin margin-size-tb($size) {
  margin: $size * 10px 0;
}

// padding

@mixin padding($top: 8px, $left: 8px, $bottom: 8px, $right: 8px) {
  padding-left: $left;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-top: $top;
}

// 标准为 8 的倍数
@mixin padding-size-lr($size) {
  padding-left: $size * 8px;
  padding-right: $size * 8px;
}

@mixin padding-size-tb($size) {
  padding-top: $size * 10px;
  padding-bottom: $size * 10px;
}
